@model HowLongToBeatModel


<div class="col-md-4" style="width:550px; margin:0 auto;">
    <div class="card mb-3">
        <div class="card-body text-center">
            <p>
                Submit your playtime for the game! Speed runs are optional
            </p>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <input type="hidden" asp-for="@Model.Id" />
            
            <div class="form-group">
                <label asp-for="MainStory"></label>
                <input asp-for="MainStory" class="form-control" placeholder="00h 00m 00s...">
                <span asp-validation-for="MainStory" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainPlusSides"></label>
                <input asp-for="MainPlusSides" class="form-control" placeholder="00h 00m 00s...">
                <span asp-validation-for="MainPlusSides" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HundredPercentComplete"></label>
                <input asp-for="HundredPercentComplete" class="form-control" placeholder="00h 00m 00s...">
                <span asp-validation-for="HundredPercentComplete" class="small text-danger"></span>
            </div>
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExampleOne" aria-expanded="false" aria-controls="collapseExample">
                    Optional Speed Run Times!
                </button>
            </p>
            
            <div class="collapse" id="collapseExampleOne">
                <div class="form-group">
                    <label asp-for="SpeedRunAny"></label>
                    <input asp-for="SpeedRunAny" class="form-control" placeholder="00h 00m 00s...">
                    <span asp-validation-for="SpeedRunAny" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SpeedRunOneHundredPercent"></label>
                    <input asp-for="SpeedRunOneHundredPercent" class="form-control" placeholder="00h 00m 00s...">
                    <span asp-validation-for="SpeedRunOneHundredPercent" class="small text-danger"></span>
                </div>
            </div>
            
            
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save"/>
            </div>
        </form>
    </div>
</div>