<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PBYD</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="lib/toastr/toastr.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PBYD___PlayBeforeYouDie.styles.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/css/bootstrap.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PlayBeforeYouDie</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <div class="dropdown">
                            <button style="margin:5px" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                Game Library
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">

                                @if (User?.Identity?.IsAuthenticated ?? false)
                                {
                                    <a class="nav-link text-light" asp-area="" asp-controller="Game" asp-action="MyGamesLibrary">My Games</a>
                                    <li><hr class="dropdown-divider"></li>
                                    <a class="nav-link text-light" asp-area="" asp-controller="Mod" asp-action="ModsView">Mods</a>
                                    <li><hr class="dropdown-divider"></li>
                                    <a class="nav-link text-light" asp-area="" asp-controller="HowLongToBeat" asp-action="HowLongToBeatView">How Long To Beat</a>
                                   
                                }
                                else
                                {
                                    <li>
                                        <a class="dropdown-item active" asp-controller="User" asp-action="Login">Please login to view your games and mods!</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <a class="nav-link text-light" asp-area="" asp-controller="HowLongToBeat" asp-action="HowLongToBeatView">How Long To Beat</a>
                                    <li><hr class="dropdown-divider"></li>
                                    <a class="nav-link text-light" asp-area="" asp-controller="Mod" asp-action="ModsView">Mods</a>
                                }

                            </ul>
                        </div>
                        <div class="dropdown">
                            <button style="margin:5px" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                Top Games Overall
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                <a class="nav-link text-light" asp-area="" asp-controller="Game" asp-action="AllGames">Game of the Year Collection</a>
                                <li><hr class="dropdown-divider"></li>
                                <a class="nav-link text-light" asp-area="" asp-controller="Game" asp-action="AllGames">Top Rated Games According to Metacritic</a>
                            </ul>
                        </div>
                    </ul>
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <ul class="nav justify-content-end">
                            <p>
                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    PC UserBenchmark

                                </button>
                            </p>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body ">
                                    <p style="color:white;">Submit your PC Parts to see what games you will be able to run:</p>
                                        <a class="btn btn-primary"style="background-color: #839496" asp-area="" asp-controller="Home" asp-action="Index">Submit</a>
                                </div>
                            </div>

                        </ul>
                    }

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <ul class="nav justify-content-center">
            <div class="text-center">
                &copy; @DateTime.UtcNow.Year - Play Before You Die
            </div>
        </ul>
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="lib/toastr/toastr.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
