@model ModModel


<div class="col-md-4" style="width:550px; margin:0 auto;">
    <div class="card mb-3">
        <div class="card-body text-center">
            
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <input type="hidden" asp-for="@Model.Id" />
            <div class="form-group">
                <label asp-for="ModName"></label>
                <input asp-for="ModName" class="form-control" placeholder="Mod Name...">
                <span asp-validation-for="ModName" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" placeholder="Mod Description...">
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DownloadModLink"></label>
                <input asp-for="DownloadModLink" class="form-control" placeholder="DownloadModLink...">
                <span asp-validation-for="DownloadModLink" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YoutubeVideoModComparison"></label>
                <input asp-for="YoutubeVideoModComparison" class="form-control" placeholder="Optional Add Youtube Vid Comparing the mod...">
                <span asp-validation-for="YoutubeVideoModComparison" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModImageOne"></label>
                <input asp-for="ModImageOne" class="form-control" placeholder="Mod Image One...">
                <span asp-validation-for="ModImageOne" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModImageTwo"></label>
                <input asp-for="ModImageTwo" class="form-control" placeholder="Optional Mod Image Two...">
                <span asp-validation-for="ModImageTwo" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModImageThree"></label>
                <input asp-for="ModImageThree" class="form-control" placeholder="Optional Mod Image Three...">
                <span asp-validation-for="ModImageThree" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModImageFour"></label>
                <input asp-for="ModImageFour" class="form-control" placeholder="Optional Mod Image Four...">
                <span asp-validation-for="ModImageFour" class="small text-danger"></span>
            </div>

            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Create"/>
            </div>
        </form>
    </div>
</div>
