@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h1>Welcome to Play Before You Die ! <span class="badge bg-secondary">PBYD</span></h1>
    <p>This is a gaming library where we display one of the best games to date and how to play them efficiently using different Mods and 
        Life improvements.
    </p>
    <img src="lib/images/Witcher-3-Cyberpunk-2077-Pawel-Sasko.jpg" alt="Sample Photo"/>
    
    
</div>
<div class="text-center">
    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="Index">View Game Collection</a>
</div>
