@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
<h1>Welcome to Play Before You Die Admin World ! <span class="badge bg-secondary">PBYD</span></h1>
<p>This is the Admin View where you can delete/edit/change anything and improve the website for the best needs of the users
</p>

</div>
<img src="lib/images/cyberpunk-2077-new-e3-screen-b.jpg" alt="Sample Photo"/>