@{
    ViewBag.Title = "Edit the Game";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_AdminGameFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
