@model GameDeleteViewModel


<h2 class="text-center">Delete @Model.GameTitle</h2>
<hr />

<form asp-action="Delete">
    <div class="row">
        <div class="col-md-4">
            <img class="card-img-top" src="@Model.ImageUrl" alt="Game Image">
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="GameTitle" class="control-label"></label>
                <input asp-for="GameTitle" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>